.content-wrapper {
    margin: 25px 50px;
}
#register-error {
    background:#FF8484;
    border: 2px solid #C71313;
    color:#C71313;
    padding:10px 15px;
}
#register-error p {
    margin:5px 0;
}
#register-info .submitpanel {
    margin:15px 0 0 0;
}
#register-info .submit {
    cursor: pointer;
    border:1px solid #000;
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #363636;
    background:#002166;
    color:#fff;
    padding:2px 8px;
}
#register-info fieldset {
     border: #9A96B8 solid 1px;
     background:#D7DDFD;
}
#register-info .submit:hover {
    color:#c9c9c9;
    background:#5F76A7;
    border:#6D6D6D 1px solid;
    border-bottom: #989898 1px solid;
}
